<h1>Atualizar usuario</h1>
<form action="AtualizarUsuario" method="POST">
    <p>Digite o id do Usuario que você deseja alterar </p>
    <input type="number" name="id">
    
    <p>Digite para qual nome você deseja alterar</p>
    <input type="text" name="nome">
    <p>Digite para qual cargo você deseja alterar</p>
     <input type="text" name="cargo">
     <p>Digite para qual idade você deseja alterar</p>
     <input type="text" name="idade">
    
    <button type="submit">Alterar usuário</button>
</form>    
</form>