<h1>Cadastrar usuario</h1>

<form action="resUsuarios" method="POST">
    <p>Nome</p>
    <input type="text" name="nome">
    <p>Cargo</p>
    <input type="text" name="cargo">
    <p>Idade</p>
    <input type="number" name="idade">
    <button type="submit">Cadastrar usuário</button>
    
</form>