<style>
    a{
        padding: 10px;
        border: 2px;
        background-color: rgb(181, 193, 204);
        font-size: 20px;
        color: black;
    }
</style>
<center>

<h1>Pagina inicial</h1>

<a href="/addUsuarios">Cadastrar um novo usuario</a>

<a href="/DeletarUsuario">Deletar um novo usuario</a>

<a href="/usuarios">Atualizar usuarios</a>

<a href="/mostrarUsuarios">Consultar usuarios</a>
</center>