<style>
form{
    padding: 20px;
}

</style>

<form action="/RetornarUsuarioComOuSemFiltro" method="post">
<p>Digite a baixo o nome do Usuario que deseja consultar</p>
<input type="Text" name="filtro">
<button type="submit">Retornar usuario com filtro</button>

</form>
<form action="/RetornarUsuarioComOuSemFiltro" method="post">
<button type="submit" id="p">Retornar todos os usuarios</button>
</form>

<form action="/RetornarUsuarioID" method="post">
<p>Digite o ID do usuario que você deseja Consultar</p>
<input type="number" name="IDConsulta">
<button type="submit">Retornar usuario pelo ID</button>
</form>